<!DOCTYPE html>

<html lang="en" ng-app="githubgame">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub Game</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!--inject:css-->
    <!--endinject-->
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <i class="fa fa-github-alt fa-lg"></i> GitHub Game
                </a>
            </div>
            <div class="navbar-collapse navbar-right" ng-controller="tokenController as token" ng-class="{collapse: isCollapsed}">
                <button type="button" class="btn btn-default btn-block navbar-btn" ng-click="token.open()">
                    <i class="fa fa-github fa-lg" ng-class="{'text-danger': !token.isAuth, 'text-success': token.isAuth }"
                       tooltip-placement="left" tooltip="{{ token.isAuth ? 'Access Token' : 'No Access Token' }}"></i>
                    GitHub Access Token
                </button>
            </div>
        </div>
    </nav>
    <!-- MAIN CONTAINER -->
    <div class="container-fluid">
        <div id="container" class="row" ui-view>
            <!-- MAIN CONTENT -->
        </div>
    </div>
    <!--inject:js-->
    <!--endinject-->
</body>

</html>
