<!DOCTYPE html>

<html lang="en" ng-app="githubgame">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub Game</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!--inject:css-->
    <!--endinject-->
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <span class="glyphicon glyphicon-home"></span>
                    GitHub Game
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" ng-controller="TokenController">
                <button type="button" class="btn btn-default navbar-btn" ng-click="editingToken = true" ng-show="!editingToken">
                    <img src="img/githublogo.png" width="20" height="20" alt="GitHub Logo">
                    GitHub Access Token {{verified ? 'X' : ''}}
                </button>
                <form class="navbar-form navbar-left" ng-show="editingToken">
                    <input type="text" class="form-control" placeholder="GitHub Access Token" ng-model="token" key-enter="saveToken(token)" key-escape="editingToken = false" click-focus="editingToken" ng-blur="saveToken(token)">
                </form>
            </div>
        </div>
    </nav>
    <!-- MAIN CONTAINER -->
    <div class="container-fluid">
        <div id="container" class="row" ui-view>
            <!-- MAIN CONTENT -->
        </div>
    </div>
    <!--inject:js-->
    <!--endinject-->
</body>

</html>
