<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="AngularJS" stopProcessing="true">
                    <match url="(external/.*|fonts/.*|html/.*|img/.*|app.min.js|favicon.ico|style.min.css|robots.txt)" />
                    <action type="None" />
                </rule>
                <rule name="AngularJS2">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
