<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        <span class="glyphicon glyphicon-tower"></span> Game
        <span class="pull-right">
          <span class="label label-success">{{stats.correct}}</span>
          <span class="label label-danger">{{stats.incorrect}}</span>
          <span class="label label-default">{{stats.total}}</span>
        </span>
        </div>
    </div>
    <div class="panel-body">
      <div ng-show="commit">
        <h4>Here's a commit:</h4>
        <pre>{{commit.message}} <span class="pull-right"><br><span class="text-success">+{{commit.additions}}</span> <span class="text-danger">-{{commit.deletions}}</span></span></pre>
        <h4>Guess who:</h4>
        <div class="container-fluid">
          <div class="row" ng-repeat="con in contributors">
            <button type="button" class="btn btn-default" ng-click="!guessed && makeGuess(con)" ng-class="{'btn-success': con.truePos, 'btn-info': con.trueNeg, 'btn-danger': con.falsePos}">
              #{{$index+1}}
            </button>
            <strong>{{con.login}}</strong>
          </div>
          <div class="row">
            <button type="button" class="btn btn-default pull-right" ng-show="guessed" ng-click="nextCommit()">Next commit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
