<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title"><span class="glyphicon glyphicon-tower"></span> Start new game</div>
    </div>
    <div class="panel-body">
      <form name="gameForm" role="form" class="form-horizontal" ng-submit="gameForm.$valid && startGame(ownerName, repoName, contributors)" novalidate>
        <fieldset>
          <legend>Find repo</legend>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group"
                ng-class="{'has-error': gameForm.ownerName.$dirty && gameForm.ownerName.$invalid, 'has-success has-feedback': gameForm.ownerName.$valid}">
                <span class="input-group-addon clickable" ng-click="isOrg ? isOrg=false : isOrg=true">
                  <span class="glyphicon" ng-class="{'glyphicon-user': !isOrg, 'glyphicon-briefcase': isOrg}"></span>
                </span>
                <input name="ownerName" type="text" class="form-control" placeholder="Enter {{isOrg ? 'organization' : 'user'}} name"
                  ng-model="ownerName" owner-exists ng-change="gameForm.ownerName.$setValidity('exists', false);repos=[];repoName='';contributors=[]" ng-maxlength="20" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="gameForm.ownerName.$valid"></span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group" ng-class="{'has-warning': gameForm.repoName.$dirty && gameForm.repoName.$invalid, 'has-success has-feedback': gameForm.repoName.$valid}" ng-hide="!gameForm.ownerName.$valid || !repos">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-folder-open"></span>
                </span>
                <input name="repoName" type="text" placeholder="Enter repo name" class="form-control" ng-model="repoName" ng-change="contributors=[]" typeahead="repo for repo in repos | filter:$viewValue | orderBy:repo | limitTo:5" typeahead-on-select="pickRepo($item, $model, $label)" typeahead-editable="false" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="gameForm.repoName.$valid"></span>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group" ng-show="gameForm.repoName.$valid">
          <div class="col-sm-12">
            <fieldset>
              <legend>Contributors</legend>
              <div class="checkbox" ng-repeat="c in contributors | orderBy:'login'">
                <label>
                  <input type="checkbox" value="{{c.login}}" ng-model="contributors[$index].selected">
                  {{c.login}} <span class="text-info">({{c.contributions}})</span>
                </label>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary pull-right" ng-show="gameForm.$valid">
              <span class="glyphicon glyphicon-arrow-right"></span>
              <span class="btn-text">Start Game</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
