<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title"><span class="glyphicon glyphicon-tower"></span> Start new game</div>
    </div>
    <div class="panel-body">
      <form name="gameForm" role="form" class="form-horizontal" novalidate>
        <div class="form-group">
          <div class="col-sm-6">
            <div class="input-group"
              ng-class="{'has-warning': gameForm.ownerName.$dirty && gameForm.ownerName.$invalid}">
              <span class="input-group-addon">
                <span class="glyphicon" ng-class="{'glyphicon-user': !isOrg, 'glyphicon-briefcase': isOrg}"></span>
              </span>
              <input name="ownerName" type="text" class="form-control" placeholder="Enter {{isOrg ? 'organization' : 'user'}} name"
                ng-model="ownerName" owner-exists ng-change="gameForm.ownerName.$setValidity('exists', false);repos=[];repoName=''" required>
              <span class="input-group-addon">
                <input type="checkbox" ng-model="isOrg">
              </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-folder-open"></span>
              </span>
              <input name="repoName" type="text" placeholder="Enter repo name" class="form-control"
              ng-disabled="!gameForm.ownerName.$valid || !repos" ng-model="repoName" typeahead="repo for repo in repos | filter:$viewValue | limitTo:5" typeahead-on-select="pickRepo($item, $model, $label)" required>
            </div>
          </div>
        </div>
      </form>
      <div class="form-group">
        <div class="col-sm-9 col-xs-9">
          <span class="text-primary">{{contributors ? contributors + ' contributor(s).' : ''}}</span>
          <span class="text-success">{{commits ? commits + ' commit(s).' : ''}}</span>
        </div>
        <div class="col-sm-3 col-xs-3">
          <button type="submit" class="btn btn-primary pull-right" ng-disabled="!gameForm.$valid || !checked">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="btn-text">Start Game</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
