<form name="setupForm" class="form"
      ng-submit="setupForm.$valid && gameSetup.save()">
    <div class="row">
        <div class="col-sm-6">
            <fieldset>
                <legend>Contributors</legend>
                <div class="checkbox"
                     ng-repeat="contributor in gameSetup.contributors track by contributor.name">
                    <label>
                        <input type="checkbox" value="{{contributor.name}}" ng-checked="contributor.active">
                        {{contributor.name}}
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Other options</legend>
            </fieldset>
            <div class="checkbox"
                 ng-repeat="option in gameSetup.options track by option.name">
                <label>
                    <input type="checkbox" value="{{option.name}}" ng-checked="option.active">
                    {{option.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button type="button" class="btn btn-sm btn-primary"
                    ng-click="gameSetup.start()">
                <i class="fa fa-arrow-right"></i>
                Start
            </button>
        </div>
    </div>
</form>