<div>
    <h4>Here's a commit:</h4>
    <pre ng-show="gameStarted.message">{{gameStarted.message}}
    <span class="pull-right"><span class="text-success">+{{gameStarted.linesAdd}}</span> <span class="text-danger">-{{gameStarted.linesRemove}}</span></span></pre>
    <div><small><strong>Hash:</strong> {{gameStarted.sha || '[Secret]'}}</small></div>
</div>
<div>
    <h4>Guess who:</h4>
    <div class="container-fluid">
        <div class="row" ng-repeat="con in gameStarted.contributors">
            <button type="button" class="btn btn-default" style="margin-right: 5px;"
                    ng-click="!gameStarted.guessed() && gameStarted.makeGuess(con)"
                    ng-class="{'btn-info': (con.guessed && con.correct === null),
                    'btn-success': (con.guessed && con.correct === true),
                    'btn-danger': (con.guessed && con.correct === false)}">
                #{{$index+1}}
            </button>
            <strong><span
                          ng-class="{'text-success': con.correct}">{{con.name}}</span></strong>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default pull-right"
                    ng-disabled="!gameStarted.nextRound" ng-click="gameStarted.nextRound()">
                Next Commit
            </button>
        </div>
    </div>
</div>