<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-lg fa-code-fork"></i> Start new game</div>
        </div>
        <div class="panel-body">
            <form name="gameForm" role="form" class="form-horizontal" novalidate
                  ng-submit="start.createGame()">
                <div class="col-sm-7">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-folder"></i>
                            </span>
                            <input name="repository" type="text" class="form-control" placeholder="GitHub repository URL" required
                                   ng-model="start.vs.repository">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input name="username" type="text" class="form-control" placeholder="Username" required
                                   ng-model="start.vs.username">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary pull-right"
                                resolve-loader-button>
                            <i class="fa fa-arrow-right"></i>
                            <span class="btn-text">Create Game</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
