<div class="modal-header">
    <h3 class="modal-title">Set GitHub Access Token</h3>
</div>
<div class="modal-body">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="text" class="form-control" placeholder="Token">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" type="button" ng-click="tokenModal.test()">
        <i class="fa fa-flask"></i> Test
    </button>
    <button class="btn btn-success" type="button" ng-click="tokenModal.ok()">
        <i class="fa fa-floppy-o"></i> Save
    </button>
    <button class="btn btn-default" type="button" ng-click="tokenModal.cancel()">
        <i class="fa fa-ban"></i> Cancel
    </button>
</div>